@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
    background-color: rgb(0, 0, 0);
}

/* 공통 */
.input>img:hover {
    background-color: #3762DB;
    cursor: pointer;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1440px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;

}

.left {
    height: 100%;
    position: relative;
    z-index: 1;
    width: 50%;
}

.left .top {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left .mid {
    margin-top: 3%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
}

.left .mid li:nth-child(1)>img {
    animation: rotate_360 3s infinite;
    animation-play-state: paused;
}

.left .mid li:nth-child(1).on>img {
    animation-play-state: running;

}

.left .mid li:nth-child(4)>img {
    animation: rotate_360 3s infinite;
    animation-play-state: paused;
}

.left .mid li:nth-child(4).on>img {
    animation-play-state: running;

}

.left .mid li:nth-child(2) {
    margin-right: 5%;
}

.left .bottom {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.left .bottom .input {
    margin-left: 28%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
}

.right {
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.center li {
    position: absolute;
}

.center li:nth-child(1) {
    bottom: -5%;
    left: 73%;

}

.center li:nth-child(2) {
    top: 0;
    left: 85%;

}
.right li:nth-child(2).on{
    animation: big 1s linear infinite alternate;
}
.center li:nth-child(2).on{
    animation: big 1s linear infinite alternate;
    
}

.center li:nth-child(2)>a>img {
    width: 220%;
}




.content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    top: 75%;
    left: 150%;
    font-family: 'Electrolize', sans-serif;

}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #A6FFF5;
}

.content h2:nth-child(2) {
    color: #3762DB;
    animation: text_effect 2s ease-in-out infinite;
}

@keyframes big{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
    
} 
@keyframes text_effect {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}



#bars.on {
    z-index: 1;
    position: absolute;
    top: 68%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     background: black; */
}

#bars2.on {
    z-index: 1;
    position: absolute;
    top: 68%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     background: black; */
}

.bar {
    display: none;
    background: #3762DB;
    bottom: 1px;
    height: 3px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

#bars.on .bar {
    display: flex;
}

#bars2.on .bar {
    display: flex;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 70px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 15px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 29px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 43px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 57px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 71px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 85px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 99px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 113px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 127px;
    animation-duration: 442ms;
}

@keyframes rotate_360 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

/* .bg .p1_1 .p1_1_output{
    animation:  rotate_360 3s infinite;
    animation-play-state: paused;
}
.bg .p1_1 .on {
    animation-play-state: running;
}  */


.mid>li:nth-child(2) .hover::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  .mid>li:nth-child(2) .hover{
    width: 100%;
  }
  .mid>li:nth-child(2) .hover:hover::before {
    transform: scaleX(.9);
    transform-origin: bottom left;
  }
  
  .mid>li:nth-child(2) .hover::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 15%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .mid>li:nth-child(2) .hover {
    position: relative;
  }

  .top>li:nth-child(2).on>img{

    animation: opacity_chg .6s ease-in-out alternate .4s infinite;
  }

  

@keyframes opacity_chg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}